.container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.left-panel {
  flex: 0 0 250px;
  background-color: var(--secondary-bg);
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px var(--shadow);
  color: var(--text-color);
  height: 100%;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
}

.right-panel {
  flex: 1;
}

.left-panel a {
  color: var(--accent-color);
  text-decoration: none;
}
